.headerAtTop {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: white;
}

.header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.76);
}

.menu a {
  color: white;
}

.burgerAtTop {
  color: white;
}

.burger {
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: auto;
}

.close {
  margin-left: auto;
}

.footer {
  position: relative;
}
